

/* Navbar.css */

/* #nav-link1 {

    color: rgb(56, 182, 255); 
    font-size: 16px;
    font-weight: 700;
    text-decoration: none; 
  } */
  
  #nav-link1:hover {
    color: rgb(3, 3, 158); /* Hover color */
  }
  
  

